@model ManSys.ViewModels.Request.EditRequestViewModel


<form method="post">
    <div class="container p-0">
        <div class="input-group w-25">
            <input asp-for="@Model.request.CodeName" class="text-dark form-control w-75 rounded-0" placeholder="Кодовое наименование" value="@Model.request.CodeName" />
            <input asp-for="@Model.request.Id" class="text-muted input-group-text w-25 rounded-0" type="text" value="@Model.request.Id" readonly></input>
        </div>
    </div>

    <div class="container p-0 mt-3">
        <span class="text-black">Позиции</span>
    </div>
    <hr class="mt-0"/>
    <div class="container p-0">
        <div class="d-flex flex-column mt-3 mb-3">
                @for (int i = 0; i < Model.request.Items.Count; i++)
                {
                    var number = i + 1;
                    <div class="input-group d-inline-flex">
                        <label class="input-group-text rounded-0">@number</label>
                        <input asp-for="@Model.request.Items[i].Name" value="@Model.request.Items[i].Name" class="form-control"/>
                        <input asp-for="@Model.request.Items[i].Count" value="@Model.request.Items[i].Count" class="form-control" />
                        <select asp-for="@Model.request.Items[i].Type" class="form-select">
                            <option selected>@Model.request.Items[i].Type</option>
                            <option>Штук</option>
                            <option>Литров</option>
                            <option>Килограмм</option>
                            <option>Грамм</option>
                            <option>Упаковок</option>
                        </select>
                        <a href="@Url.Action("DeleteItem", new{id = i, requestId = Model.request.Id})" class="btn btn-danger rounded-0">
                            <i class="bi bi-trash3-fill"></i> Удалить
                        </a>
                    </div>
                }
        </div>
        
        <div class="container">

        </div>
    </div>
    <div class="container m-0 p-0" >
        <div class="d-inline-flex m-0 gap-2 w-100">
            <div class="w-50 p-0">
                <span class="text-black">Срок поставки</span>
                <hr class="mt-0"/>
                <input type="text" name="DeliveryDateRange" value="@Model.DeliveryDateRange" class="form-control rounded-0" />
            </div>
            <div class="w-50 p-0">
                <span class="text-black">Дата доставки</span>
                <hr class="mt-0" />
                <input type="text" name="DeliveryDateTime" class="form-control rounded-0" />
            </div>
        </div>
        <div class="d-flex mt-2">
            <input asp-action="SaveEditRequest" type="submit" value="Сохранить" class="btn btn-outline-primary rounded-0" />
        </div>
    </div>



    @if(Model.request.Comments != null)
    {
        @foreach(var comment in Model.request.Comments)
        {
            <div>
                <span>@comment.Text</span>
            </div>
        }
    }
</form>

<div class="container p-0 mt-3">
    <span class="text-black">Добавить новый товар</span>
</div>
<hr class="mt-0" />
<form asp-controller="Request" asp-action="OnEditAddItem">
    <div class="input-group d-inline-flex">
        <label class="input-group-text rounded-0"> - </label>
        <input asp-for="@Model.newItem.Name" placeholder="Наименование" class="form-control" />
        <input asp-for="@Model.newItem.Count" value="1" type="number" min="1" class="form-control" />
        <select asp-for="@Model.newItem.Type" class="form-select rounded-0">
            <option selected>Штук</option>
            <option>Литров</option>
            <option>Килограмм</option>
            <option>Грамм</option>
            <option>Упаковок</option>
        </select>
        <button type="submit" class="btn btn-primary rounded-0"><i class="bi bi-plus-square-fill"></i> Добавить</button>
    </div>
</form>

<div class="container p-0 mt-3">
    <span class="text-black">Комментарии</span>
</div>
<hr class="mt-0"/>
<form asp-action="CreateComment">
    <textarea asp-for="@Model.comment.Text" class="form-control mb-2 rounded-0" rows="3"></textarea>
    <datalist>
        @foreach(var user in Model.users)
        {
            <option>@user.Surname @user.Name</option>
        }
    </datalist>
    <input type="submit" class="btn btn-outline-primary rounded-0" />
</form>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script type="text/javascript">
    $('input[name="DeliveryDateRange"]').daterangepicker({
        "locale": {
            "format": "D/MM/YYYY",
            "separator": " - ",
            "daysOfWeek": [
                "Пн",
                "Вт",
                "Ср",
                "Чт",
                "Пт",
                "Сб",
                "Вс"
            ],
            "monthNames": [
                "Январь",
                "Февраль",
                "Март",
                "Апрель",
                "Май",
                "Июнь",
                "Июль",
                "Август",
                "Сентябрь",
                "Октябрь",
                "Ноябрь",
                "Декабрь"
            ],
        },
            "alwaysShowCalendars": true
    });


</script>
<script type="text/javascript">

    $('input[name="DeliveryDateTime"]').daterangepicker({
        "singleDatePicker": true,
        "locale": {
            "format": "D/MM/YYYY",
            "daysOfWeek": [
                "Пн",
                "Вт",
                "Ср",
                "Чт",
                "Пт",
                "Сб",
                "Вс"
            ],
            "monthNames": [
                "Январь",
                "Февраль",
                "Март",
                "Апрель",
                "Май",
                "Июнь",
                "Июль",
                "Август",
                "Сентябрь",
                "Октябрь",
                "Ноябрь",
                "Декабрь"
            ],
        }
    });
</script>
