@model ManSys.ViewModels.RequestViewModel
@{
    <div class="container-lg">
        <a asp-controller="Request" asp-action="CreateRequestGet" class="btn btn-success">Создать новый запрос</a>

        <hr />

            @if (Model.requestsForView != null)
            {
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>№</th>
                            <th>Создатель</th>
                            <th>Статус</th>
                            <th colspan="3">Управление</th>
                        </tr>
                    </thead>          
                    <tbody>
                        @foreach (Request request in Model.requestsForView)
                        {
                            <tr>
                                <th><span class="text-muted">#@request.Id</span></th>
                                <td>@request.Creator.Name @request.Creator.Surname</td>
                                <td>@request.StatusName</td>
                                <td>
                                    <a class="btn btn-primary rounded" href="@Url.Action("EditRequest", new{Id = request.Id})"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-danger rounded" href="@Url.Action("DeleteRequest", new{Id = request.Id})"><i class="bi bi-trash3"></i></a>
                                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#Request-@request.Id" aria-expanded="false" aria-controls="Request-@request.Id"><i class="bi bi-chevron-compact-down"></i></button>
                                </td>
                            </tr>
                            <tr class="collapse" id="Request-@request.Id">
                                <td colspan="5" class="p-0">
                                    <table class="table mb-0">
                                        <thead class="table-secondary">
                                            <tr>
                                                <th>Наименование</th>
                                                <th>Количество</th>
                                                <th>Количественный тип</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        @foreach(Item item in request.Items)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.Count</td>
                                                <td>@item.Type</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
}

