@model TheRealManSys.ViewModels.Request.EditRequestViewModel

<form method="post">
    <div class="container p-0">
        <div class="input-group w-25">
            <input asp-for="@Model.request.CodeName" class="text-dark form-control" placeholder="Кодовое наименование" value="@Model.request.CodeName" />
            <label asp-for="@Model.request.Id" class="text-muted input-group-text">#@Model.request.Id</label>
        </div>
    </div>

    <div class="container p-0 mt-3">
        <span class="text-black">Позиции</span>
    </div>
    <hr class="mt-0"/>
    <div class="container p-0">
        <div class="d-flex flex-column mt-3 mb-3">
                @for (int i = 0; i < Model.request.Items.Count; i++)
                {
                    var number = i + 1;
                    <div class="input-group d-inline-flex">
                        <label class="input-group-text">@number</label>
                        <input asp-for="@Model.request.Items[i].Name" value="@Model.request.Items[i].Name" class="form-control"/>
                        <input asp-for="@Model.request.Items[i].Count" value="@Model.request.Items[i].Count" class="form-control" />
                        <select asp-for="@Model.request.Items[i].Type" class="form-select">
                            <option selected>@Model.request.Items[i].Type</option>
                            <option>Штук</option>
                            <option>Литров</option>
                            <option>Килограмм</option>
                            <option>Грамм</option>
                            <option>Упаковок</option>
                        </select>
                        <select asp-for="@Model.request.Items[i].StatusName" class="form-select">
                            <option selected>@Model.request.Items[i].StatusName</option>
                            @foreach (var status in Model.statuses)
                            {
                                <option>@status.Name</option>
                            } 
                        </select>
                    </div>
                }
        </div>
        <div class="container">

        </div>
    </div>

    <span class="text-black">Срок поставки</span>
    <hr class="mt-0"/>
    <div class="container p-0 d-inline-flex">
        @*

        <div class="input-group m-1">
            <label class="text-black input-group-text">От</label>
            <input asp-for="@Model.request.DeliveryDateStart" value="@Model.request.DeliveryDateStart" type="date" class="form-control" />
        </div>
        <div class="input-group m-1">
            <label class="text-black input-group-text">До</label>
            <input asp-for="@Model.request.DeliveryDateEnd" value="@Model.request.DeliveryDateEnd" type="date" class="form-control"/>
        </div>
        *@
    </div>

    <div class="d-flex m-2">
        <input asp-action="SaveEditRequest" asp-controller="Request" type="submit" value="Сохранить" class="btn btn-outline-primary" />
    </div>

    <div class="container p-0 mt-3">
        <span class="text-black">Комментарии</span>
    </div>
    <hr class="mt-0"/>
    @foreach(var comment in Model.request.Comments)
    {
        <div>
            <span>@comment.Text</span>
        </div>
    }
    <div>
        <form asp-action="CreateComment" asp-controller="request">
            <textarea asp-for="@Model.comment.Text" class="form-control mb-2" rows="3"></textarea>
            <datalist>
                @foreach(var user in Model.users)
                {
                    <option>@user.Surname @user.Name</option>
                }
            </datalist>
            <input type="submit" class="btn btn-outline-primary" />
        </form>
    </div>
</form>

