@model ManSys.ViewModels.Admin.ManageUsersViewModel
@{
    var isChecked = "";
<div class="container">
    <form method="post">
        <table class="table">
            <thead class="table-dark">
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Доступ</th>
                <th>Почта</th>
                <th>Контактный номер телефона</th>
            </thead>
            <tbody>
                @for(int i = 0; i < Model.Users.Count; i++){
                    <tr>
                        <td>@Model.Users[i].Surname</td>
                        <td>@Model.Users[i].Name</td>
                        <td>
                            @if (@Model.Users[i].EmailConfirmed)
                            {
                                isChecked = "checked";
                            }
                            else
                            {
                                isChecked = "";
                            }
                                <input type="checkbox" name="IdsForChange[@i]" id="IdsForChange_@i.ToString()_" value="@Model.Users[i].Id" @isChecked />
                        </td>
                        <td>@Model.Users[i].Email</td>
                        <td>@Model.Users[i].PhoneNumber</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" asp-action="SaveUsers" value="Сохранить" class="btn btn-outline-primary"/>
    </form>
</div>
}