@using ManSys.ViewModels;
@model ManSys.ViewModels.StatusViewModel
@*

<ul class="list-group">
    @foreach (var status in Model.Statuses)
    {
        <li class="list-group-item">
            <form method="" action="">
                <div class="input-group mb-3">
                    <input asp-for="@Model.Input.Name" class="form-control m-1 w-auto" value="@status.Name" />
                    <input asp-for="@Model.Input.Color" type="color" value="@status.HexedColor" class="form-control-color m-1" />
                    <select asp-for="@Model.Input.GlobalStatus" class="form-select m-1">
                        @foreach(var globalStatus in Enum.GetNames(typeof(GlobalStatus)))
                        {
                            if(globalStatus == status.GlobalStatus.ToString())
                            {
                                <option selected>@globalStatus</option>
                            }
                            <option>@globalStatus</option>
                        }
                    </select>

                    <input formaction="DeleteStatus" formmethod="post" class="btn btn-outline-danger m-1" type="submit" value="Удалить статус" />
                </div>
            </form>
            @if (status.GlobalStatus == GlobalStatus.Created)
            {
                <div class="form-check m-0 p-0">
                    <input type="radio" name="IsDefaultCreated" class="form-check-input p-1 m-0" />
                </div>
            }
        </li>

    }
    <li class="list-group-item">
        <form method="post" asp-controller="Admin" asp-action="CreateStatus">
            <div class="input-group mb-3">
                <input asp-for="@Model.Input.Name" placeholder="Введите название статуса" class="form-control m-1 w-auto" />
                <input asp-for="@Model.Input.Color" type="color" value="#ff0000" class="form-control-color m-1" />
                <select asp-for="@Model.Input.GlobalStatus" class="form-select m-1">
                    @foreach (var globalStatus in Enum.GetNames(typeof(GlobalStatus)))
                    {
                        <option>@globalStatus</option>
                    }
                </select>

                <input class="btn btn-outline-primary m-1" type="submit" value="Создать" />
            </div>
        </form>
    </li>
    <li class="list-group-item">
        <button class="btn btn-primary" type="submit"> Сохранить </button>
    </li>
</ul>
*@


<div class="container">
    <span>Статусы</span>
    <hr class="mt-0" />
    <form>
        @for(int i = 0; i < Model.Statuses.Count; i++)
        {
            <div class="row">
                <div class="collapse">
                    <input asp-for="@Model.Statuses[i].Id" value="@Model.Statuses[i].Id" type="number"></input>
                </div>
                <div class="col-4">
                    <input asp-for="@Model.Statuses[i].Name" class="form-control m-1 w-100" value="@Model.Statuses[i].Name" />
                </div>
                <div class="col-1 col-sm-1">
                    <input asp-for="@Model.Statuses[i].Color" type="color" value="@Model.Statuses[i].HexedColor" class="form-control-color m-1" />
                </div>
                <div class="col-2">
                    <select asp-for="@Model.Statuses[i].GlobalStatus" class="form-select m-1 w-100">
                        @foreach (var globalStatus in Enum.GetNames(typeof(GlobalStatus)))
                        {
                            if (globalStatus == Model.Statuses[i].GlobalStatus.ToString())
                            {
                                <option selected>@globalStatus</option>
                            }
                            <option>@globalStatus</option>
                        }
                    </select>
                </div>
                <div class="col">
                    @Html.ActionLink("Удалить", "DeleteStatus", new{id = Model.Statuses[i].Id}, new{@class = "btn btn-outline-danger m-1"})

                    @*
                    <input asp-for="@Model.Input.Id" type="number" value="@Model.Statuses[i].Id" class="collapse"/>
                    <input formaction="DeleteStatus" formmethod="post" class="btn btn-outline-danger m-1" type="submit" value="Удалить статус" />
                    *@
                </div>
            </div>
        }
        <input formaction="SaveStatusChanges" formmethod="post" type="submit" class="btn btn-outline-primary mt-2 mb-3" value="Сохранить" />
    </form>

    <span>Создание нового статуса</span>
    <hr class="mt-0"/>
    <form asp-action="CreateStatus" asp-controller="Admin">
        <div class="row">
            <div class="col-4">
                <input asp-for="@Model.Input.Name" class="form-control m-1 w-100" placeholder="Название статуса" />
            </div>
            <div class="col-1 col-sm-1">
                <input asp-for="@Model.Input.Color" type="color" value="#FF0000" class="form-control-color m-1" />
            </div>
            <div class="col-2">
                <select asp-for="@Model.Input.GlobalStatus" class="form-select m-1 w-100">
                    @foreach (var globalStatus in Enum.GetNames(typeof(GlobalStatus)))
                    {
                        <option>@globalStatus</option>
                    }
                </select>
            </div>
            <div class="w-100" />
           <input type="submit" class="btn btn-outline-primary w-25 mt-3" value="Создать"/>
    </form>
</div>